#remplissage{
    position:relative;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    box-shadow: 2px 2px 5px ;
    flex-wrap: wrap;
    padding: 3% 10%;
    margin-left:400px;
    margin-right: 100px;
    height:500px;
}

label{
    display:inline-block;
    width:40%;
    text-align: left;
}
input[type="text"], #password {
    display: inline-block;
    width:50%;
    margin-bottom: 10px;
}

.marquepage{
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    width:150px;
    height:30px;
    line-height: 30px;
    position:absolute;
    left:-150px;
    background-color: white;
    z-index: 2;
    border-top-left-radius: 5px;
}

#coord{
    top:2px;
}

#proj{
    top:35px;
}


#coordonnees, #projets{
    display: none;
}